@font-face
{
	font-family: consolefont;
	src: url(../consolefont.ttf);
}

*
{
	font-family: consolefont, Consolas, monospace;
	font-size: 100%;
}

body
{
	margin: 0;
	padding: 0;
	background-color: magic;
}

.scrollwrapper
{
	padding: 0 0 0 0.313em;
	position: absolute;
	cursor: text;
}

.input
{
	color: #C8C8C8;
}

#output:focus,
#inputPrefix:focus,
#input:focus
{
	outline: none;
}